USE [master]
GO
/****** Object:  Database [HMSDB2023]    Script Date: 11/26/2023 10:12:13 PM ******/
CREATE DATABASE [HMSDB2023]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HMSDB2023', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HMSDB2023.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HMSDB2023_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HMSDB2023_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HMSDB2023].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HMSDB2023]
GO
/****** Object:  Table [dbo].[tbl_AssignRoom]    Script Date: 11/26/2023 10:12:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AssignRoom](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentCNIC] [varchar](50) NOT NULL,
	[StudentName] [varchar](50) NULL,
	[RoomNumber] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_AssignRoom_1] PRIMARY KEY CLUSTERED 
(
	[StudentCNIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_login]    Script Date: 11/26/2023 10:12:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_login](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Room]    Script Date: 11/26/2023 10:12:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Room](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [int] NULL,
	[Floor] [int] NULL,
	[Type] [int] NULL,
	[Attach_Bath] [varchar](50) NULL,
	[SeatRent] [int] NULL,
	[Available_Seats] [int] NULL,
 CONSTRAINT [PK_tbl_Room] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Staff]    Script Date: 11/26/2023 10:12:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Staff](
	[CNIC] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
	[FatherName] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[DateOfReg] [varchar](50) NULL,
	[DateOfBirth] [varchar](50) NULL,
	[BloodGroup] [varchar](50) NULL,
	[Address] [text] NULL,
 CONSTRAINT [PK_tbl_Staff] PRIMARY KEY CLUSTERED 
(
	[CNIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_student]    Script Date: 11/26/2023 10:12:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_student](
	[CNIC] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
	[FatherName] [varchar](50) NULL,
	[Address] [text] NULL,
	[Mobile] [varchar](50) NULL,
	[Institute] [varchar](50) NULL,
	[Class] [varchar](50) NULL,
	[DateOfReg] [varchar](50) NULL,
	[DOB] [varchar](50) NULL,
	[BloodGroup] [varchar](50) NULL,
	[GuardianName] [varchar](50) NULL,
	[Guardian_Number] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_student] PRIMARY KEY CLUSTERED 
(
	[CNIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_VisitorEntry]    Script Date: 11/26/2023 10:12:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_VisitorEntry](
	[CNIC] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
	[VisitTime] [varchar](50) NULL,
	[Relation] [varchar](50) NULL,
	[VisitingTo_CNIC] [varchar](50) NULL,
	[VisitingName] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_VisitorEntry] PRIMARY KEY CLUSTERED 
(
	[CNIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
