<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="myconstring" connectionString="Server=.\SQLEXPRESS; Database=HMSDB2023; Trusted_Connection=True;"
   providerName="System.Data.SqlClient" />
  <add name="HMS2023.Properties.Settings.HMSDB2023ConnectionString"
   connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=HMSDB2023;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>